<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gestión de Fichas
    </ion-title>
  </ion-toolbar>
</ion-header>



 <ion-content [fullscreen]="true">
    <ion-card>
      <img src="assets/img/1.png"/>
      <ion-card-content>
        <ion-card-title>
        Listado de Fichas
        </ion-card-title>
      <p>
        Aqui añado la descripción
      </p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="assets/img/1.png"/>
      <ion-card-content>
        <ion-card-title>
        Creación de Fichas 
        </ion-card-title>
      <p>
        Aqui añado la descripción
      </p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="assets/img/1.png"/>
      <ion-card-content>
        <ion-card-title>
        Asistencia
        </ion-card-title>
      <p>
        Aqui añado la descripción
      </p>
      </ion-card-content>
    </ion-card>


</ion-content>
