<ion-header>
  <ion-toolbar color="primary">
    <ion-title>INICIO SESIÓN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>
      Email
    </ion-label>
    <ion-input type="text" [(ngModel)]="user.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      Contraseña
    </ion-label>
  <ion-input type="text" [(ngModel)]="user.password"></ion-input>
  </ion-item>
  <ion-item-divider>
    <ion-button size="medium" (click)="onLogin()">Iniciar Sesión</ion-button>
    
    <ion-button size="medium" href="/register">Registro</ion-button>
  </ion-item-divider>
</ion-content>